<!DOCTYPE html>
<html>
<head>
  <title>Fogged</title>
  <%= stylesheet_link_tag    "fogged/application", media: "all" %>
  <%= javascript_include_tag "fogged/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
